<h1><%- title %></h1>
<%- messages() %>
<% if (errors) { %>
<ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <%  }) %>
</ul>
<% } %>

<div class="message-view">
    <dl>
        <dt>Subject</dt>
        <dd><%- messageData.mes_subject %></dd>
        <dt>From</dt>
        <dd><%- messageData.account_firstname %> <%- messageData.account_lastname %> - <%- messageData.account_type%>
        </dd>
    </dl>
    <pre class="message-pane"><%- messageData.mes_body %></pre>
    
</div>
<br>

<form action="/message/delete" method="post">
    <input type="hidden" name="mes_id" value="<%- messageData.mes_id %>">
    <div class="button-strip">
        <a href="/message/view/<%- messageData.mes_id %>"></a>
        <input type="submit" value="DELETE">
    </div>
</form>